@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div style="text-align:center; padding:20px">
    <form>
        <input class="search" type="text" name="search" placeholder="Search">
    </form>
</div>
<div>
    @foreach (var recipe in Model.Recipes)
    {
               <div class="recipe">
                    <a asp-page="/Recipe" asp-route-recipeId="@recipe.RecipeId" style="text-decoration: none">
                        <div class="row" style="text-align:center">
                            <div class="col">
                                <h5>@recipe.Title</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" style="float:left; width:50%;">
                                <img class="main-page-img" src="~/Data/Images/@recipe.ImageName">
                            </div>
                            <div class="col" style="float:left; width:50%;">
                                 <p>@recipe.Description</p>
                            </div>
                        </div>
                    </a>
                    <div class="row" style="float:right">
                        <span>@recipe.RecipeLikes</span>
                        <form method="post" asp-action="Like" >
                            <input type="hidden" name="userId" value="@User.Identity.Name">
                            <input type="hidden" name="recipeId" value="@recipe.RecipeId">
                            <input class="reactions" type="submit" value="&#129121;">
                        </form>
                        <form method="post">
                            <input type="hidden" name="userId" value="@User.Identity.Name">
                            <input type="hidden" name="recipeId" value="@recipe.RecipeId">
                            <input class="reactions" type="submit" value="&#129123;">
                        </form>
                        @if (!recipe.IsUserFavourite) {
                         <form method="post">
                            <input type="hidden" name="recipeId" value="@recipe.RecipeId">
                            <input type="hidden" name="fav" value="true">
                            <input class="reactions" type="submit" value="&#9825;">
                         </form>
                        }
                        @if (recipe.IsUserFavourite) 
                         {
                         <form method="post">
                            <input type="hidden" name="recipeId" value="@recipe.RecipeId">
                            <input type="hidden" name="fav" value="false">
                            <input class="reactions" type="submit" value="&#9829;">
                         </form>
                        }
                    </div>             
               </div>
            }
</div>
