@page
@model APS_Project.Pages.MyFavouriteModel
@{
}
<div>
</div>
@foreach (var recipe in Model.Recipes)
{
    <div class="recipe">
        <a asp-page="/Recipe" asp-route-recipeId="@recipe.RecipeId" style="text-decoration: none">
            <div class="row" style="text-align:center">
                <div class="col">
                    <h5>@recipe.Title</h5>
                </div>
            </div>
            <div class="row">
                <div class="col" style="float:left; width:50%;">
                    <img class="main-page-img" src="~/Data/Images/@recipe.ImageName">
                </div>
                <div class="col" style="float:left; width:50%;">
                    <p>@recipe.Description</p>
                </div>
            </div>
        </a>
        <div class="row" style="float:right">
            <span>@recipe.Likes</span>
            <form id="Like" method="post">
                <input type="hidden" name="userId" value="@User.Identity.Name">
                <input type="hidden" name="recipeId" value="@recipe.RecipeId">
                <input type="hidden" name="like" value="true">
                <input class="reactions" id="like" type="submit" value="&#129121;">
            </form>
            <form id="Unlike" method="post">
                <input type="hidden" name="userId" value="@User.Identity.Name">
                <input type="hidden" name="recipeId" value="@recipe.RecipeId">
                <input type="hidden" name="like" value="false">
                <input class="reactions" id="unlike" type="submit" value="&#129123;">
            </form>
            <form id="Follow" asp-page-handler="Favourites">
                <input type="hidden" name="userId" value="@User.Identity.Name">
                <input type="hidden" name="recipeId" value="@recipe.RecipeId">
                @if (!recipe.IsUserFavourite)
                {
                    <input class="reactions" type="submit" value="&#9825;">
                }
                else
                {
                    <input class="reactions" type="submit" value="&#9829;">
                }
            </form>
        </div>
    </div>
}